node_modules
sendgrid.env
tsconfig.tsbuildinfo
dist  
src/public/files/**
backups/db-dump/**
backups/db-dump.zip
src/constants/env.ts
.env
docker-compose.yml
environment/prod.env
environment/docker-compose.prod.yml
tmp


scripts/sendgrid-data.json