.env
node_modules
sendgrid.env
tsconfig.tsbuildinfo
apps/api/src/public/files/**
apps/api/src/constants/env.ts
backups/db-dump/**
backups/db-dump.zip
docker-compose.yml
environment/prod.env
environment/docker-compose.prod.yml
scripts/sendgrid-data.json
lerna-debug.log
npm-debug.log
yarn-error.log
packages/**/node_modules
apps/**/node_modules
packages/**/dist
apps/**/dist 