node_modules

sendgrid.env

tsconfig.tsbuildinfo

src/constants/serverConfig.dev.ts
src/constants/serverConfig.prod.ts
src/constants/serverConfig.stag.ts
src/constants/env.ts
sendgrid.env
dist
  
src/public/files/**