* {
  box-sizing: border-box;
}

html{
  font-size: small;
}

@media screen and (min-width: 750px) {
body {
  font-size: 1.1rem;
}

}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

html, body, #__next  {
  height: 100%;
}

h3 {
margin-top: 20px;
}




h3 a:hover {
text-decoration: underline;
}

a {
text-decoration: none;
}